---
layout: base
---

<div class="wrapper">
  <img src="/assets/profile.png" alt="Profile Picture" style="float:left; margin-right:5%; margin-bottom: 3%;" width="25%" />
  <p>
    I am a computer science student at the University of Illinois Urbana-Champaign (UIUC).
    Currently, I am on a leave of absence and am working at NVIDIA as a Deep Learning Algorithm Engineering intern.
  </p>
  <p>
    Feel free to send me an email at shchoi4 (at) illinois (dot) edu.
  </p>
  {%- include social.html -%}
</div>

<hr>

<div class="home">
  {{ content }}
</div>
